MqTests — копия/MqTests/Web References/WebReference/MqService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MQ.Dto.Fault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MQ.Dto.Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MqFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MqFaults" nillable="true" type="tns:ArrayOfMqFault" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MqFault" nillable="true" type="tns:MqFault" />
  <xs:complexType name="ArrayOfMqFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MqFault" nillable="true" type="tns:MqFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMqFault" nillable="true" type="tns:ArrayOfMqFault" />
</xs:schema>