MqTests/MqTests/Service References/WebReference/MqService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MQ.Dto.Legacy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MQ.Dto.Legacy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://212.116.96.50:2229/MqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto" />
  <xs:complexType name="PatientMoveInfo_6_1_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="HospitalCode" nillable="true" type="q1:Coding" />
      <xs:element minOccurs="0" name="InfoList" nillable="true" type="tns:ArrayOfPatientMove_PlaceTypeInfoCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMoveInfo_6_1_1" nillable="true" type="tns:PatientMoveInfo_6_1_1" />
  <xs:complexType name="ArrayOfPatientMove_PlaceTypeInfoCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientMove_PlaceTypeInfoCell" nillable="true" type="tns:PatientMove_PlaceTypeInfoCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientMove_PlaceTypeInfoCell" nillable="true" type="tns:ArrayOfPatientMove_PlaceTypeInfoCell" />
  <xs:complexType name="PatientMove_PlaceTypeInfoCell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:PatientMove_PlaceTypeInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="PlaceTypeCatalogId" nillable="true" type="q2:Coding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMove_PlaceTypeInfoCell" nillable="true" type="tns:PatientMove_PlaceTypeInfoCell" />
  <xs:complexType name="PatientMove_PlaceTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildrenPlaceAvailable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IncomingCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InfoList" nillable="true" type="tns:ArrayOfPatientMove_SMOInfoCell" />
      <xs:element minOccurs="0" name="ManPlaceAvailable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OutgoingCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlaningCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WomanPlaceAvailable" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMove_PlaceTypeInfo" nillable="true" type="tns:PatientMove_PlaceTypeInfo" />
  <xs:complexType name="ArrayOfPatientMove_SMOInfoCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientMove_SMOInfoCell" nillable="true" type="tns:PatientMove_SMOInfoCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientMove_SMOInfoCell" nillable="true" type="tns:ArrayOfPatientMove_SMOInfoCell" />
  <xs:complexType name="PatientMove_SMOInfoCell">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="HicCatalogId" nillable="true" type="q3:Coding" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:PatientMove_SMOInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMove_SMOInfoCell" nillable="true" type="tns:PatientMove_SMOInfoCell" />
  <xs:complexType name="PatientMove_SMOInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HospitalizationCount" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PlaceDayCount" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMove_SMOInfo" nillable="true" type="tns:PatientMove_SMOInfo" />
</xs:schema>