MqTests/MqTests/Web References/WebReference/MqService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://212.116.96.50:2229/MqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto" />
  <xs:import schemaLocation="http://212.116.96.50:2229/MqService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" />
  <xs:import schemaLocation="http://212.116.96.50:2229/MqService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto.Legacy" />
  <xs:element name="UpdateMedServiceProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q1:Credentials" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="profileMedService" nillable="true" type="q2:ProfileMedService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedServiceProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q3:Credentials" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q4:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="RegisterResult" nillable="true" type="q5:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFromSourcedMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q6:Credentials" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q7:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFromSourcedMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="UpdateFromSourcedMoResult" nillable="true" type="q8:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFromTargetMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q9:Credentials" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q10:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFromTargetMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="UpdateFromTargetMoResult" nillable="true" type="q11:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlannedResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q12:Credentials" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q13:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlannedResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="ChangePlannedResourceResult" nillable="true" type="q14:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q15:Credentials" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q16:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="HealthCareStartResult" nillable="true" type="q17:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q18:Credentials" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q19:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="HealthCareEndResult" nillable="true" type="q20:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreedFromSourcedMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q21:Credentials" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q22:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreedFromSourcedMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="AgreedFromSourcedMoResult" nillable="true" type="q23:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreedFromTargetMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q24:Credentials" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q25:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreedFromTargetMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="AgreedFromTargetMoResult" nillable="true" type="q26:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientDocumentIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q27:Credentials" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q28:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientDocumentIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="PatientDocumentIssueResult" nillable="true" type="q29:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancellation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q30:Credentials" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q31:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="CancellationResult" nillable="true" type="q32:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrChangeTargetMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q33:Credentials" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q34:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrChangeTargetMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="SetOrChangeTargetMoResult" nillable="true" type="q35:MqResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q36:Credentials" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="options" nillable="true" type="q37:Options" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="SearchOneResult" nillable="true" type="q38:SearchOneDirectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q39:Credentials" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="options" nillable="true" type="q40:Options" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchManyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="SearchManyResult" nillable="true" type="q41:SearchManyDirectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateQueues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q42:Credentials" />
        <xs:element minOccurs="0" name="queryDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateQueuesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q43:Credentials" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="options" nillable="true" type="q44:Options" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="GetQueueInfoResult" nillable="true" type="q45:QueueInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q46:Credentials" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="referral" nillable="true" type="q47:Referral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MQ.Dto.Result" minOccurs="0" name="GetResultDocumentResult" nillable="true" type="q48:MqDocResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPatientMoveInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MQ.Dto" minOccurs="0" name="credentials" nillable="true" type="q49:Credentials" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MQ.Dto.Legacy" minOccurs="0" name="info" nillable="true" type="q50:PatientMoveInfo_6_1_1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPatientMoveInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>